@import '../styles/base';

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: $grid-padding;

  &.reverse {
    flex-direction: column-reverse;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.bleed {
    padding: 0;
  }
}